<div class="user-posts">
  <%= render @user %>
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
  <div>
    <%= link_to "Creat New post", new_user_post_path %>
  </div>
  <% if @user.posts.empty? %>
    <p class="empty-message">This user has not written any posts!!!</p>
  <% else %>
    <% @posts.includes(:author).each do |post| %>
      <%= render post%>
      <% unless post.recent_comments.empty? %>
        <h4 class="users-comments">
          <% post.recent_comments.each do |comment| %>
            <%= "#{comment.author.name}: #{comment.text}" %><br>
          <% end %>
        </h4>
      <% end %>
    <% end %>
    <%= will_paginate @posts %>
  <% end%>
</div>
