<div>
  <h1>Create a new post</h1>
  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>
  <div class='create-post'>
    <%= form_with model: @post, url: user_posts_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.label :title, 'Title', class: 'post_label' %>
      <%= form.text_field :title, class: 'post_title' %>
      <%= form.label :text, 'Text', class: 'post_label' %>
      <%= form.text_area :text, class: 'post_textarea' %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
